.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 8.1%;
}

.container--about-program {
  padding: 0 18.1%;
}

.container--live-israel {
  padding: 0 7.6%;
  padding-right: 8.8%;
}

@media (max-width: $mobile-width-max) {
  .container {
    padding: 0 5%;
  }

  .container--about-program {
    padding: 0 5%;
  }
}
