.live-israel {
  background-color: $second-color;
  background-image: url("../img/watch@1x.png"), url("/../img/live-israel-bg-desktop@1x.png");
  background-position: 100% 690px, 0 34px;
  background-repeat: no-repeat, no-repeat;
  background-size: 90px 147px, 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/watch@2x.png"), url("/../img/live-israel-bg-desktop@2x.png");
  }
}

.live-israel__inner {
  padding-top: 75px;
  padding-right: 8%;
  padding-bottom: 25px;
}

.live-israel h2 {
  @include reset;
  @include title-desktop;

  margin-bottom: 24px;
  text-align: center;
}

.live-israel br {
  display: none;
}

.live-israel p {
  @include reset;
  @include text(17px, 1.7, 400);

  max-width: 720px;
  margin-left: auto;
  margin-right: auto;

  color: rgba($text-color, 0.87);
  text-align: center;
}

.live-israel__wrapper {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: -20px;
}

.live-israel__item {
  position: relative;
  flex-shrink: 0;
  height: auto;
  margin-bottom: 2.3%;

  &--excursion {
    width: 41.8%;
    margin-right: 1.3%;
  }

  &--study {
    position: absolute;
    top: 8.9%;
    left: 43.1%;
    width: 18.3%;
  }

  &--teach {
    position: absolute;
    top: 8.9%;
    left: 64%;
    width: 35.7%;
  }

  &--together {
    position: absolute;
    top: 54.7%;
    left: 43.1%;
    width: 35.7%;
  }

  &--leader {
    position: absolute;
    top: 54.7%;
    left: 81.4%;
    width: 18.6%;
  }
}

.live-israel__item img {
  width: 100%;
}

.live-israel__item p {
  @include reset;
  @include text(21px, 1.19, 800);

  position: absolute;
  left: 8%;
  bottom: 32px;
  width: 81%;

  font-family: "Raleway", "Arial", sans-serif;
  color: $second-color;
  text-align: left;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
}

.live-israel__item.live-israel__item--study p {
  left: 11.5%;
}

.live-israel__item.live-israel__item--teach p {
  left: 7.8%;
}

.live-israel__item.live-israel__item--together p {
  left: 7.8%;
  width: 88%;
}

.live-israel__item.live-israel__item--leader p {
  left: 11.5%;
}

@media (max-width: $tablet-width-max) {
  .live-israel__inner {
    padding-top: 5px;
  }

  .live-israel__item p {
    @include text(16px, 1.17, 800);
  }

  .live-israel__item.live-israel__item--excursion p,
  .live-israel__item.live-israel__item--study p,
  .live-israel__item.live-israel__item--teach p,
  .live-israel__item.live-israel__item--together p,
  .live-israel__item.live-israel__item--leader p {
    bottom: 10%;
  }
}

@media (max-width: $mobile-width-max) {
  .live-israel {
    background: none;
  }

  .live-israel__inner {
    padding-top: 5px;
    padding-right: 5%;
    padding-bottom: 20px;
  }

  .live-israel__swiper {
    position: relative;
    width: 288px;
    height: 428px;

    overflow: hidden;
  }

  .live-israel__wrapper {
    width: 100%;
    margin-top: 0;
  }

  .live-israel h2 {
    @include title-mobile;
    padding-left: 8px;
  }

  .live-israel br {
    display: block;
  }

  .live-israel p {
    @include text(16px, 1.63, 400);

    margin-bottom: 23px;
    text-align: left;
  }

  .live-israel__item {
    width: 100%;
  }

  .live-israel__item img {
    margin-right: auto;
    margin-left: auto;
  }

  .live-israel__item.live-israel__item--excursion,
  .live-israel__item.live-israel__item--study,
  .live-israel__item.live-israel__item--teach,
  .live-israel__item.live-israel__item--together,
  .live-israel__item.live-israel__item--leader {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }

  .live-israel__item.live-israel__item--together {
    left: -4px;
  }

  .live-israel__item.live-israel__item--excursion p,
  .live-israel__item.live-israel__item--study p,
  .live-israel__item.live-israel__item--teach p,
  .live-israel__item.live-israel__item--together p,
  .live-israel__item.live-israel__item--leader p {
    @include text(18px, 1.17, 800);

    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    width: 78%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .live-israel__control {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .live-israel__swiper > .live-israel__control {
    bottom: 2px;
    left: 4px;
  }

  .live-israel__control--bullet {
    display: block;
    width: 6px;
    height: 6px;
    margin-right: 8px;
    background: rgba($text-color, 0.2);
    border-radius: 50%;
  }

  .live-israel__control--active {
    width: 8px;
    height: 8px;
    background: $gradient;
    border-radius: 50%;
  }
}
