.modal-order {
  padding-top: 56px;
  padding-left: 48px;
  padding-right: 73px;
  padding-bottom: 10px;

  text-align: center;
}

.modal-order h2 {
  @include reset;
  @include text(28px, 1.21, 700);

  margin-bottom: 16px;

  font-family: "Montserrat", "Arial", sans-serif;
  color: $first-color;
  letter-spacing: -0.02em;

  text-align: left;
}

.modal-order p {
  @include reset;
  @include text(15px, 1.73, 400);

  margin-bottom: 33px;
  color: rgba($text-color, 0.87);

  text-align: left;
}

.modal-order__form input {
  @include cursor-hover;
  @include text(17px, 1.18, 500);
  @include animation;

  width: 100%;
  height: 59px;
  margin-bottom: 8px;
  padding: 18px 38px;

  font-variant: small-caps;

  color: $text-color;
  opacity: 0.87;
  border: 2px solid #e3e3e3;
  border-radius: 80px;

  &::placeholder {
    @include text(17px, 1.18, 500);

    font-variant: small-caps;
    color: $text-color;
    opacity: 0.5;
  }
}

.modal-order__input:hover,
.modal-order__input:focus {
  @include animation;

  border: 2px solid transparent;
  border-image: $gradient 1;
  border-radius: 80px;
}

.modal-order__form button {
  width: 264px;
  margin-top: 15px;
  margin-left: 25px;
  margin-bottom: 15px;
}

.modal-order__form--error input:invalid {
  border-color: $error-color;
}

.modal-order__form--success input:valid {
  border-color: $text-color;
}

.modal-order__check {
  position: relative;

  margin-bottom: 33px;
  margin-left: 60px;

  text-align: left;
}

.modal-order__check input,
.modal-order__check label {
  @include cursor-hover;
}

.modal-order__check input + label::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 16px;
  height: 16px;

  border: 2px solid;
  border-radius: 2px;
  border-image: $gradient 1;
}

.modal-order__check input:hover + label::before,
.modal-order__check input:focus + label::before {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
}

.modal-order__check label {
  @include reset;
  @include text(13px, 1.52, 400);

  display: block;
  width: 264px;
  padding-left: 24px;
  color: $text-color;
}

.modal-order__check input:checked + label::after {
  content: "";

  position: absolute;
  top: -1px;
  left: 2px;
  z-index: 2;

  width: 18px;
  height: 16px;

  background: url("../../img/icon-check.svg");
  background-repeat: no-repeat;
}

@media (max-width: $mobile-width-max) {
  .modal-order {
    padding-top: 169px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 169px;
  }

  .modal-order h2 {
    @include text(24px, 1.21, 700);

    text-align: center;
  }

  .modal-order p {
    @include text(14px, 1.6, 400);

    margin-bottom: 30px;
    text-align: center;
  }

  .modal-order__form button {
    margin-top: 16px;
    margin-left: 0;
    margin-bottom: 16px;
  }

  .modal-order__check {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    width: 264px;
    margin-bottom: 33px;
    margin-left: 0;
  }
}
