.photo {
  background-color: $second-color;
  background-image: url("../img/photo-bg-desktop@1x.png");
  background-position: 4px 108px;
  background-repeat: no-repeat;
  background-size: 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/photo-bg-desktop@2x.png");
  }
}

.photo__inner {
  padding-top: 229px;
  padding-bottom: 196px;
}

.photo__wrapper {
  width: 403px;
  margin-right: 4.5%;
  margin-left: auto;
}

.photo h2 {
  @include reset;
  @include title-desktop;

  margin-bottom: 24px;
  margin-left: -5px;
}

.photo p {
  @include reset;
  @include text(17px, 1.7, 400);

  margin-bottom: 48px;
  color: $second-color;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
}

.photo .button {
  position: relative;
  display: block;
  width: 230px;
  margin-left: -5px;
  padding: 20px;
  padding-left: 70px;
}

.photo__button {
  position: relative;
}

.photo__button svg {
  position: absolute;
  z-index: 3;
  top: 18px;
  left: 35px;
  width: 24px;
  height: 24px;

  fill: $second-color;
}

@media (max-width: $tablet-width-max) {
  .photo__inner {
    padding-bottom: 0;
  }
}

@media (max-width: $mobile-width-max) {
  .photo {
    background-color: $second-color;
    background-image: url("../img/photo-bg-mobile@1x.png");
    background-position: 0 57%;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .photo__inner {
    padding-top: 17.4%;
    padding-bottom: 0;
  }

  .photo__wrapper {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .photo h2 {
    margin-bottom: 96px;
    margin-left: -2.4%;
  }

  .photo p {
    @include text(16px, 1.6, 400);

    margin-bottom: 59px;
    padding-left: 2.6%;
    padding-right: 2.6%;
  }

  .photo .button {
    width: 264px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 89px;
  }

  .photo__button {
    position: relative;
    width: 264px;
    margin-right: auto;
    margin-left: auto;
  }

  .photo__button svg {
    top: 18px;
    left: 57px;
  }
}
