.programs {
  background-image: url("../img/programs-bg-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: right 51px;
  background-size: auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/programs-bg-desktop@2x.png");
    background-repeat: no-repeat;
    background-position: right 51px;
    background-size: 50%;
  }
}

.programs__inner {
  padding-top: 100px;
  padding-right: 8.1%;
  padding-bottom: 60px;
  padding-left: 15.4%;
}

.programs__inner h2 {
  @include reset;
  @include title-desktop;

  margin-bottom: 65px;
}

.programs__swiper {
  margin-left: 0;
  margin-right: 0;
}

.programs__wrapper {
  display: flex;
}

.programs__list {
  @include list-reset;

  flex-direction: column;
  margin-right: 64px;
}

.programs__item {
  position: relative;
  z-index: 2;
  width: 228px;
  height: 72px;
}

.programs__item--general::before,
.programs__item--academy::before,
.programs__item--intern::before,
.programs__item--volunteer::before,
.programs__item--religion::before {
  position: absolute;
  content: "";
  z-index: 2;

  width: 36px;
  height: 36px;
}

.programs__item--general::before {
  top: 20px;
  left: 24px;

  background: url("../img/icon-start-black@1x.png");
  background-size: 28px 33px;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/icon-start-black@2x.png");
    background-size: 28px 33px;
    background-repeat: no-repeat;
  }
}

.programs__item:hover.programs__item--general::before,
.programs__item:focus.programs__item--general::before {
  background: url("../img/icon-star-yellow@1x.png");
  background-size: 28px 33px;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/icon-star-yellow@2x.png");
    background-size: 28px 33px;
    background-repeat: no-repeat;
  }
}

.programs__item--active.programs__item--general::before {
  background: url("../img/icon-star-white@1x.png");
  background-size: 28px 33px;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/icon-star-white@2x.png");
    background-size: 28px 33px;
    background-repeat: no-repeat;
  }
}

.programs__item--academy::before {
  top: 20px;
  left: 20px;

  background: url("../img/icon-hat-black@1x.png");
  background-size: 36px 33px;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/icon-hat-black@2x.png");
    background-size: 37px 32px;
    background-repeat: no-repeat;
  }
}

.programs__item:hover.programs__item--academy::before,
.programs__item:focus.programs__item--academy::before {
  background: url("../img/icon-hat-yellow@1x.png");
  background-size: 36px 33px;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/icon-hat-yellow@2x.png");
    background-size: 37px 32px;
    background-repeat: no-repeat;
  }
}

.programs__item--active.programs__item--academy::before {
  background: url("../img/icon-hat-white@1x.png");
  background-size: 36px 33px;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/icon-hat-white@2x.png");
    background-size: 37px 32px;
    background-repeat: no-repeat;
  }
}

.programs__item--intern::before {
  top: 23px;
  left: 22px;

  background: url("../img/icon-bag-black@1x.png");
  background-size: 32px 25px;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/icon-bag-black@2x.png");
    background-size: 32px 25px;
    background-repeat: no-repeat;
  }
}

.programs__item:hover.programs__item--intern::before,
.programs__item:focus.programs__item--intern::before {
  background: url("../img/icon-bag-yellow@1x.png");
  background-size: 32px 25px;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/icon-bag-yellow@2x.png");
    background-size: 32px 25px;
    background-repeat: no-repeat;
  }
}

.programs__item--active.programs__item--intern::before {
  background: url("../img/icon-bag-white@1x.png");
  background-size: 32px 25px;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/icon-bag-white@2x.png");
    background-size: 32px 25px;
    background-repeat: no-repeat;
  }
}

.programs__item--volunteer::before {
  top: 21px;
  left: 22px;

  background: url("../img/icon-hand-black@1x.png");
  background-size: 32px 29px;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/icon-hand-black@2x.png");
    background-size: 32px 29px;
    background-repeat: no-repeat;
  }
}

.programs__item:hover.programs__item--volunteer::before,
.programs__item:focus.programs__item--volunteer::before {
  background: url("../img/icon-hand-yellow@1x.png");
  background-size: 32px 29px;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/icon-hand-yellow@2x.png");
    background-size: 32px 29px;
    background-repeat: no-repeat;
  }
}

.programs__item--active.programs__item--volunteer::before {
  background: url("../img/icon-hand-white@1x.png");
  background-size: 32px 29px;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/icon-hand-white@2x.png");
    background-size: 32px 29px;
    background-repeat: no-repeat;
  }
}

.programs__item--religion::before {
  top: 23px;
  left: 26px;

  background: url("../img/icon-minorah-black@1x.png");
  background-size: 23px 25px;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/icon-minorah-black@2x.png");
    background-size: 23px 25px;
    background-repeat: no-repeat;
  }
}

.programs__item:hover.programs__item--religion::before,
.programs__item:focus.programs__item--religion::before {
  background: url("../img/icon-minorah-yellow@1x.png");
  background-size: 23px 25px;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/icon-minorah-yellow@2x.png");
    background-size: 23px 25px;
    background-repeat: no-repeat;
  }
}

.programs__item--active.programs__item--religion::before {
  background: url("../img/icon-minorah-white@1x.png");
  background-size: 23px 25px;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/icon-minorah-white@2x.png");
    background-size: 23px 25px;
    background-repeat: no-repeat;
  }
}

.programs__item:hover button,
.programs__item:focus button {
  color: $additional-color;
}

.programs__item.programs__item--active button {
  @include text(16px, 1.2, 500);

  font-variant-caps: small-caps;
  color: $second-color;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
}

.programs__item--active::after {
  position: absolute;
  content: "";
  z-index: -2;
  top: 2px;
  left: 0;
  width: 228px;
  height: 68px;

  background: url("../../img/rectangle@1x.png");
  background-repeat: no-repeat;
}

.programs__list button {
  @include text(15px, 1.2, 400);

  width: 228px;
  height: 72px;
  padding-left: 72px;

  color: rgba($text-color, 0.87);
  text-align: left;

  border: none;
  background: none;
}

.programs__text-wrapper {
  width: 560px;
  padding-top: 20px;
}

.programs__text-wrapper h3 {
  @include reset;
  @include text(28px, 1.21, 700);

  margin-bottom: 20px;

  font-family: "Montserrat", "Arial", sans-serif;
  letter-spacing: -0.02em;
  color: $first-color;
}

.programs__text-wrapper p {
  @include reset;
  @include text(15px, 1.8, 400);

  margin-bottom: 11px;
  color: rgba($text-color, 0.87);
}

.programs__text {
  display: none;
}

.programs__text--active {
  display: block;
}

@media (max-width: $mobile-width-max) {
  .programs {
    background-image: url("../img/programs-bg-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: right 142px;
    background-size: auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/programs-bg-mobile@2x.png");
      background-repeat: no-repeat;
      background-position: right 142px;
      background-size: 93%;
    }
  }

  .programs__inner {
    padding-top: 26px;
    padding-right: 5%;
    padding-bottom: 0;
    padding-left: 5%;
  }

  .programs__inner h2 {
    @include title-mobile;

    text-align: center;
    margin-bottom: 13px;
  }

  .programs__wrapper {
    flex-direction: column;
  }

  .programs__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .programs__text-wrapper {
    width: 100%;
    padding-top: 34px;
  }

  .programs__text-wrapper h3 {
    @include text(24px, 1.21, 700);

    margin-bottom: 16px;
  }

  .programs__text-wrapper p {
    @include text(14px, 1.6, 400);

    width: 100%;
  }

  .programs__item {
    display: inline-block;
    vertical-align: center;
    flex-shrink: 0;
    height: 48px;
  }

  .programs__item--general::before,
  .programs__item--academy::before,
  .programs__item--intern::before,
  .programs__item--volunteer::before,
  .programs__item--religion::before {
    top: 12px;
    left: 10px;
    width: 32px;
    height: 32px;
    background-size: 27px auto;
  }

  .programs__item:hover.programs__item--general::before,
  .programs__item:focus.programs__item--general::before,
  .programs__item:hover.programs__item--academy::before,
  .programs__item:focus.programs__item--academy::before,
  .programs__item:hover.programs__item--intern::before,
  .programs__item:focus.programs__item--intern::before,
  .programs__item:hover.programs__item--volunteer::before,
  .programs__item:focus.programs__item--volunteer::before,
  .programs__item:hover.programs__item--religion::before,
  .programs__item:focus.programs__item--religion::before,
  .programs__item--active.programs__item--general::before,
  .programs__item--active.programs__item--academy::before,
  .programs__item--active.programs__item--intern::before,
  .programs__item--active.programs__item--volunteer::before,
  .programs__item--active.programs__item--religion::before {
    background-size: 27px auto;
  }

  .programs__list button {
    width: auto;
    height: 48px;
    padding-left: 52px;

    color: rgba($text-color, 0.87);
    text-align: left;

    border: none;
    background: none;
  }

  .programs__item.programs__item--active,
  .programs__item.programs__item--active button {
    width: 181px;
  }

  .programs__item--active::after {
    top: 0;
    left: 0;
    width: 181px;
    height: 48px;

    background: $gradient;
    background-repeat: no-repeat;
    border-radius: 60px;
  }
}
